@page
@model Contact.Pages.ContactModel
@{
}

<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5"> User Information Form</h2>

        @if (Model.errorMessage.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else if (Model.successMessage.Length > 0)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Gender</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Message</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Message"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
